input {
    -webkit-border-radius: 5px; //For Safari, etc.
    -moz-border-radius: 5px; //For Mozilla, etc.
    border-radius: 5px; //CSS3 Feature
}

#normalGive {
    width:400px;
    padding: 10px;
    border: 7px ridge crimson;
    margin: 10px;
    background-color: #CC8080;
}

#normalTitle {
    position: relative;
    left: 115px;
}

#normalTitle b {
    font-size: 25px;
}

#displayTitle {
    position: relative;
    left: 100px;
}

#displayTitle b {
    font-size: 25px;
}

#displayContent {    
    width: 400px;
    padding: 10px;
    border: 7px ridge green;
    background-color: yellowgreen;
    margin: 10px;
}

#itemName {
    position: relative;
    left: 10px;
}

#itemNameBox {
    position: relative;
    left: 20px;
    width: 277px;
}

#itemLore {
    position: relative;
    left: 10px;
}

#itemLoreBox{
    position: relative;
    left: 20px;
    width: 148px;
}

#playerName {
    position: relative;
    left: 10px;
}

#playerNameBox {
    position: relative;
    width: 275px;
    left: 15px;
}

#itemId {
    position: relative;
    left: 10px;
}

#itemIdBox {
    position:relative;
    left: 15px;
    width: 305px;
}

#itemAmount {
    position: relative;
    left: 10px;
}

#itemAmountBox {
    position: relative;
    left: 15px;
    width: 300px;
}

#itemDamage {
    position: relative;
    left: 10px;
}

#itemDamageBox {
    position: relative;
    left: 15px;
    width: 260px;
}

